.salary{
    text-align: center;
    margin-top: 20px;
    background-image: linear-gradient(#00c8ffda, #a5f8ad);
    margin-left: 20px;
    line-height: 50px;
    color: rgb(156, 120, 27);
    border-radius: 10px;
}

.teacher-name{
    display: flex;
    border-radius: 10px;
    margin:7px auto;
    background-image: linear-gradient(#fa6f53c9,#f7a129c4);
    width: 200px;
    /* height: 45px; */
    color: white;
    text-align: center;
    padding: 5px;

}

.details-btn{
    width: 150px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(#c8f585, #f254a8);
    margin: 20px 0px;
    text-align: center;
    font-size: 18px;
}

.teacher-name img{
    width: 80px;
    margin-right: 10px;
    border-radius: 10px;

}